.form-control-sm {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.title[placeholder]:empty:focus::before{
    content:none;
}
.addtitle :empty:before{
    content:attr(placeholder);
    color:rgb(190, 198, 214);
    margin-left: 5%
}
.title:focus{

    border:none;outline:none;

}